body {
    font-family: 'Times New Roman';
}

.center_box {
    width: 250px;
    margin: 20px auto 0 auto;
    background: #dfdfdf;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 7px;
}

#login_status {
    display: block-inline;
    color: red;
}

#wallets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.deposit_address {
    font-size: small;
}

.main_currency_logo {
    width: 100px;
    height: 100px
}

.crypto_box {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 7px;
}

.colors-btc {
    background: gold;
    color: black;
}

.colors-ltc {
    background: silver;
    color: black;
}

.colors-doge {
    background: yellow;
    font-family: "Comic Sans MS";
    color: black;
}

.crypto_box[data-currency=doge] button {
    font-family: "Comic Sans MS"
}

.colors-vtc {
    background: #1B5C2E;
    color: white;
}

.colors-rdd {
    background: #6B59FF;
    color: white;
}

.colors-xmy {
    background: #00C1C1;
    color: black;
}

.colors-dash {
    background: #BFDDFF;
    color: black
}

.colors-uno {
    background: #477AD0;
    color: white;
}

.colors-xcp {
    background: #FFBFC2;
    color: black;
}

.colors-ftc {
    background: #ececec;
}

.colors-ric {
    background: #76e8c0;
}

.colors-mars {
    background: orange;
}

.colors-fjc {
    background: #B61B14;
    color: white;
}

.colors-ptc {
    background: #C6CD93;
}

.colors-zec {
    background: #a6a9ff;
}

.colors-mgc {
    background: #fdecb0;
}

.colors-part {
    background: #d2f3e7
}

.colors-leo {
    background: #82540f;
    color: white
}

button {
    padding: 7px;
    margin: 3px;
    font-weight: bold;
    border-radius: 4px;
}
.deposit_area {
    background: white;
    padding: 5px 3px 5px 3px;
    color: black;
    margin: 5px auto 5px auto;
    width: 17em;
    border: 1px solid #dfdfdf;
}

.send_btn {
    background: #84FF8A;
    padding: 5px;
    margin: 5px;
}

#loading_screen {
    display: none;
    border: 1px solid green;
    width: 250px;
    margin: 0 auto 0 auto;
    padding: 10px;
    text-align: center;
    background: #dfdfdf;
}

.qr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 5px;
}

.arrow_button {
    width: 6em;
}

#mnemonic_disp {
    background: white;
    padding: 5px;
    width: calc(100% - 5px);
    border: 1px solid gray
}
#wallet_settings_wrapper {
    display: none;
}

.fee_rate_area {
    font-size: x-small;
    margin-bottom: 10px;
}

.optimal_fee_rate_per_byte {
    font-weight: bold;
}

.fee_wrapper {
    margin: 10px;
    border-radius: 4px;
}

.error_area {
    float: left;
    text-align: center;
    color: red;
    max-width: 300px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 35px;
    width: 200px;
}


.subsection {
    background: rgba(10, 10, 10, 0.15);
    border: 1px solid rgba(3, 3, 3, 0.15);
    padding: 3px;
    display: none;
    text-align: left;
}

.subsection .full_width {
    width: -moz-calc(100% - 5px);
    width: calc(100% - 5px);
}

.submit_button {
    background: #AFFFB3;
}

.cancel_button {
    background: #FFAEAE;
    margin-bottom: 20px;
}

.submit_button:disabled {
    background: #FEFEFE;
}

.exchange_options table {
    margin-bottom: 2px;
    border: 1px solid gray;
}

.cancel-colors {
    background: transparent !important;
    font-family: inherit !important;
    color: inherit !important;
    border: 0px !important;
}

#total_fiat_balance_container {
    width: 120px;
    margin: 0 auto 0 auto;
    padding: 20px;
    background: #E1E1E1;
    border: 3px double gray;
    border-radius: 7px;
    display: none;
    text-align: center;
    font-size: large;
}

.unconfirmed_area {
    display: none;
    background-color: rgba(256, 256, 256, 0.75);
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.unconfirmed_area h4 {
    margin: 5px;
}

#settings_part {
    width: 280px;
    background: #efefef;
    padding: 10px;
    margin: 0 auto 0 auto;
}

#mnemonic_disp {
    width: calc(100% - 10px)
}

.exchange_in_progress {
    display: none;
    background: #dfdfdf;
    font-weight: bold;
    color: black;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.exchange_amount {
    color: black !important;
}

.exchange_logo {
    width: 150px;
}

.history_section {
    background-color: rgba(256, 256, 256, 0.8);
    color: black;
    padding: 3px;
}

#landing_page {
    min-width: 250px;
    max-width: 80%;
    margin: 10px auto 10px auto;
    text-align: left;
    background: #dfdfdf;
    padding: 20px;
}

.internal_error {
    background-color: white;
    color: red;
    padding: 20px;
    display: none;
    max-width: 250px;
}

input[type=number], input[type=text] {
    color: black;
}

.edit_memo_area {
    display: none;
}

.edit_memo_area textarea {
    width: calc(100% - 4px);
    height: 3em;
}

.existing_memo {
    font-size: small;
}

.memo_error {
    color: red;
    display: inline-block;
}

.send_error_area {
    max-width: 300px;
}
