{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
    #api {
        background: #E1D6FF;
    }

    #api table {
        width: 50%;
        margin: 10px auto 10px auto;
    }

    #api table td {
        border: 1px solid white;
        padding: 3px;
    }

    h2 {
        font-size: xx-large;
        padding: 40px;
    }

    h3 {
        background: #FFDFDB;
        padding: 40px;
        border-radius: 7px;
    }

    .code_wrapper {
        text-align: left;
        margin: 0 auto 0 auto;
        border: 1px solid gray;
        border-radius: 7px;
        background: #D9D9D9;
    }

    .examples {
        font-size: large;
        margin: 30px auto 30px auto;
        padding: 30px;
        background: #FFCECE;
        width: 75%;
    }

    .examples .title {
        font-family: helvetica;
        font-size: xx-large;
        text-align: left;
        font-weight: bold;
    }

    .info {
        background: white;
        max-width: 50%;
        text-align: left;
        padding: 20px;
        background: 1px solid #dfdfdf;
        border-radius: 7px;
        margin: 0 auto 0 auto;
    }

    .url {
        text-aize: large;
        font-weight: bold;
        padding: 20px;
    }

    .general_url {
        font-size: x-large;
    }

    code {
        font-size: small;
    }
</style>

<section id="api">
    <h2>API Documentation</h2>


    <h3>Pass through JSON API</h3>

    Use a single blockexplorer API via multiexplorer as a pass-thtough.
    Service_id is a number cooresponding to the serivice in the table below.

    {{ service_table|safe }}

    <h3>Service ID / Fetching Modes</h3>

    <div class="info">
        All API calls take a service_id parameter. This parameter can be used to call a single survice,
        or it can be used to enable various "fetching modes".

        <ul>
            <li>
                <strong>fallback</strong> to denote you want to use the first working service. Each currency
                has an ordered list of defined services. Using this mode guarantees a result
                (from somewhere) will always be returned.
                This service can be thought as being "high availability".
            </li>
            <li>
                <strong>paranoidN</strong> to enable paranoid mode. This will call N services, and verify that they all
                return the same data. If any service returns a different value, the call will indicate this.
                In the case of a paranoid mode failure, the underlying cryptocurrency network may be forked.
            </li>
            <li>
                <strong>averageN</strong> can be used to calculate the average of N service calls.
                This mode is helpful for determining the optimal transaction fee and current price.
                This mode does not apply to many blockchain operations since all services return the exact same data.
            </li>
        </ul>
    </div>

    <h3>Address Balance</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">http://{{ domain }}/api/address_balance/<i>[service_id]</i>?address=<i>[address]</i></span>
        <ul>
            <li>The <i>currency</i> argument is optional. If you leave it off,
                the currency will be guessed from decoding the address version byte.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the raw_response field in the response.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            http://{{ domain }}/api/address_balance/fallback?address=PVjubSWa6L3RrFNNUYFbdQUJTL84qko1P5&amp;include_raw=true
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "balance": 676.070116,
        "currency": [
            "ppc",
            "Peercoin"
        ],
        "fetched_seconds_ago": 228,
        "raw_response": {
            "code": 200,
            "data": {
                "address": "PVjubSWa6L3RrFNNUYFbdQUJTL84qko1P5",
                "balance": 676.070116,
                "balance_multisig": 0,
                "first_tx": {
                    "block_nb": "180692",
                    "confirmations": 44472,
                    "time_utc": "2015-06-20T23:20:18Z",
                    "tx": "92e41bba294e9e563bf9e41ee31cb461faf56e676a397950c6f8d983ba9c322e",
                    "value": 289.742907
                },
                "is_unknown": false,
                "is_valid": true,
                "last_tx": {
                    "block_nb": "203654",
                    "confirmations": 21510,
                    "time_utc": "2015-11-03T19:33:18Z",
                    "tx": "50c4d427ea350ccb068820667098366ad86684652d7f44f738de50a64b8c6179",
                    "value": 386.327209
                },
                "nb_txs": 2,
                "totalreceived": 676.070116
            },
            "message": "",
            "status": "success"
        },
        "service_name": "Blockr.io",
        "service_id": 5,
        "url": "http://ppc.blockr.io/api/v1/address/info/PVjubSWa6L3RrFNNUYFbdQUJTL84qko1P5"
    }
            </pre>
            </code>
        </div>

        <div class="url">
            http://{{ domain }}/api/address_balance/5?address=LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n&amp;currency=ltc
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "balance": 345339.0,
        "currency": [
            "ltc",
            "Litecoin"
        ],
        "fetched_seconds_ago": 31,
        "service_name": "Chain.So",
        "url": "https://chain.so/api/v2/get_address_balance/ltc/LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n/1"
    }
            </pre>
            </code>
            </div>

    </div>

    <h3>Unspent Outputs for Address</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">http://{{ domain }}/api/unspent_outputs/<i>[service_id]</i>?address=<i>[address]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above.</li>
            <li>The <i>currency</i> argument is optional. If you leave it off,
                the currency will be guessed from decoding the address version byte.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the raw_response field in the response.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            http://{{ domain }}/api/unspent_outputs/11?address=LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "cache_hit": false,
        "currency": [
            "ltc",
            "Litecoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "Chain.So",
        "url": "https://chain.so/api/v2/get_tx_unspent/ltc/LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n",
        "utxos": [
            {
                "address": "LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n",
                "amount": 1125000000000,
                "confirmations": 2621,
                "output": "03673409f75a36a385e1e12e51222f22c5500bc4e851ba61ddb2c5d2f78d3d5b:0"
            },
            {
                "address": "LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n",
                "amount": 1000000000,
                "confirmations": 15,
                "output": "f83ca6959e11742889dd36e9e4d3654c10aee306c174271610bb6270b2226efe:0"
            }
        ]
    }
            </pre>
            </code>
        </div>
    </div>

    <h3>Transaction History for Address</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">http://{{ domain }}/api/historical_transactions/<i>[service_id]</i>?address=<i>[address]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above.</li>
            <li>The <i>currency</i> argument is optional. If you leave it off,
                the currency will be guessed from decoding the address version byte.</li>
            <li>The data that comes out of this endpoint is meant for use in wallet UIs
                to show activity from addresses. It is not meant to be used in creation of transactions.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            http://{{ domain }}/api/transaction_history/4?address=16DsrC7mUZG7ZYJR1T6rJo16aogKicwAi9
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "btc",
            "Bitcoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "SmartBit",
        "transactions": [
            {
                "amount": 1.91316531,
                "confirmations": 26,
                "date": "2016-03-07T02:39:19Z",
                "fee": 0.0001,
                "txid": "020c174b24dd3b75497219d01b8a2b09496e7b7bba8a7471c1310f769ca9c8a6"
            },
            {
                "amount": -1.91316531,
                "confirmations": 25,
                "date": "2016-03-07T02:48:24Z",
                "fee": 0.00968986,
                "txid": "b5a61d2bd2f74de89fae908095ec8e34c21f4771d600c0a38423def280e3c5b5"
            }
        ],
        "url": "https://api.smartbit.com.au/v1/blockchain/address/16DsrC7mUZG7ZYJR1T6rJo16aogKicwAi9"
    }

            </pre>
            </code>
        </div>
    </div>

    <h3>Block Information</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">http://{{ domain }}/api/get_block/<i>[service_id]</i>?block_number=<i>[block_number]</i>&amp;block_hash=<i>[block_hash]</i>&amp;latest=<i>[true|false]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above.</li>
            <li>The <i>currency</i> argument is <strong>required</strong>. There is no way to infer the currency
                from the block hash or block height, unlike from address version byte.</li>
            <li>You can use either <i>block_number</i>, <i>latest</i> or <i>block_hash</i>, but only one at the same time.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            http://{{ domain }}/api/get_block/6?block_hash=00000000b6ee1bc8ef48268ca7fbd243cf2d4c4792620ebfc5933cf08c487bdb&amp;currency=btc
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "block": {
            "block_number": 231,
            "confirmations": 401306,
            "hash": "00000000b6ee1bc8ef48268ca7fbd243cf2d4c4792620ebfc5933cf08c487bdb",
            "merkle_root": "6229511483becd964893b5994aa7a2876d7435bc0c70cab7bfdb1c6eb3703d8c",
            "mining_difficulty": 1.0,
            "next_hash": "0000000098e453043107b29a58db813021640b3def7c1e659742ddf56420d6ca",
            "previous_hash": "00000000a7494fded2b0cc826dd1c58f1c383714f2de0449a3a3643ead5452c2",
            "sent_value": 50.0,
            "size": 216,
            "time": "2009-01-12T16:23:23Z",
            "total_fees": 0.0,
            "tx_count": 1,
            "txids": [
                "6229511483becd964893b5994aa7a2876d7435bc0c70cab7bfdb1c6eb3703d8c"
            ]
        },
        "currency": [
            "btc",
            "Bitcoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "Toshi",
        "url": "https://bitcoin.toshi.io/api/v0/blocks/00000000b6ee1bc8ef48268ca7fbd243cf2d4c4792620ebfc5933cf08c487bdb"
    }
            </pre>
            </code>
        </div>

        <div class="url">
            http://{{ domain }}/api/get_block/32?block_number=653&amp;currency=vtc<br>
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "block": {
            "block_number": 653,
            "confirmations": 467163,
            "hash": "97959ad8dea703320b57028d0e7b5f9567ae5e8c80fc01a50764f3e3f27f61cf",
            "merkle_root": "379acf765df947097f605c68bf26dbf560183b501d8d1b6e883c21ac7270a084",
            "mining_difficulty": 0.00024414,
            "next_hash": "795b5c2a07be3252c4f61d446d8d75a6205af84e668929df05a9370a375d6b1f",
            "previous_hash": "2f878ebd803971e323f2d1c441ce19008ec823a0f6c2af607fd2b5997975f307",
            "size": 188,
            "time": "2014-01-11T09:34:31Z",
            "tx_count": 1,
            "txids": [
                "379acf765df947097f605c68bf26dbf560183b501d8d1b6e883c21ac7270a084"
            ],
            "version": 2
        },
        "currency": [
            "vtc",
            "Vertcoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "This is VTC",
        "url": "http://explorer.thisisvtc.com/api/block/97959ad8dea703320b57028d0e7b5f9567ae5e8c80fc01a50764f3e3f27f61cf"
    }
            </pre>
            </code>
        </div>

    </div>

    <h3>Recommended Transaction Fee</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">http://{{ domain }}/api/get_optimal_fee/<i>[service_id]</i>?currency=<i>[curency_code]</i></span>
        <ul>
            <li>The <i>currency</i> argument is <strong>required</strong>. Must be 3 or 4 letter code.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
            <li>Returned is the amount of satoshi's that should be added as a transaction fee per KiB (1024 bytes).</li>
            <li>For all currencies except Bitcoin, a fee of $0.02 USD is returned.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            http://{{ domain }}/api/get_optimal_fee/average4?currency=btc
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "btc",
            "Bitcoin"
        ],
        "fetched_seconds_ago": 0,
        "optimal_fee_per_KiB": 42461,
        "services": [
            {
                "id": 35,
                "name": "CoinTape"
            },
            {
                "id": 40,
                "name": "bitcoinfees.21.co"
            },
            {
                "id": 36,
                "name": "BitGo"
            },
            {
                "id": 2,
                "name": "BlockCypher"
            }
        ]
    }
            </pre>
            </code>
        </div>

        <div class="url">
            http://{{ domain }}/api/get_optimal_fee/fallback?currency=ltc<br>
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "ltc",
            "Litecoin"
        ],
        "fetched_seconds_ago": 0,
        "optimal_fee_per_KiB": 602391
    }
            </pre>
            </code>
        </div>

    </div>

</section>

{% endblock %}
