{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
    #api {
        background: #E1D6FF;
    }

    #api table {
        width: 50%;
        margin: 10px auto 10px auto;
    }

    #api table td {
        border: 1px solid white;
        padding: 3px;
    }
    .code_wrapper {
        text-align: left;
        margin: 0 auto 0 auto;
        border: 1px solid gray;
        width: 50%;
        border-radius: 7px;
        background: #D9D9D9;
    }

    .examples {
        font-size: large;
        margin: 30px auto 30px auto;
        padding: 30px;
        background: #FFCECE;
        width: 75%;
    }

    .examples .title {
        font-family: helvetica;
        font-size: xx-large;
        text-align: left;
        font-weight: bold;
    }
</style>

<section id="api">
    <h2>API</h2>


    <h3>Pass through JSON API</h3>

    Use a single blockexplorer API via multiexplorer as a pass-thtough.
    Service_id is a number cooresponding to the serivice in the table below.

    {{ service_table|safe }}

    <h3>Address Balance</h3>
    http://{{ domain }}/api/<i>[currency]</i>/address_balance/<i>[service_id]</i>?address=<i>[address]</i>

    <br><br>


    <br>
    <div class="examples">
        <div class='title'>Examples:</div>
        http://{{ domain }}/api/BTC/address_balance/5?address=1M9XB8No8MnNjJvzPrtKyAnRfWwgMYr2Jp<br>
        http://{{ domain }}/api/LTC/address_balance/5?address=LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n
    </div>

    <br><br>
    Service number 5 corresponds to Blockr.io. This API call will return data from
    the Blockr.io service. The response will look like this:

    <br>
    <br>

    <div class="code_wrapper">
        <code>
        <pre>
        {
            "balance": 20,
            "cache_hit": true,
            "raw_response": {
                "code": 200,
                "data": {
                    "address": "1PZ3Ps9RvCmUW1s1rHE25FeR8vtKUrhEai",
                    "balance": 20,
                    "balance_multisig": 0,
                    "first_tx": {
                        "block_nb": "306478",
                        "confirmations": 94860,
                        "time_utc": "2014-06-18T11:10:58Z",
                        "tx": "be39fcb60f7ca0b9976f86e46ffb1acb87f3ec28d09171515da8470e8dd45e51",
                        "value": 0.001
                    },
                    "is_unknown": false,
                    "is_valid": true,
                    "last_tx": {
                        "block_nb": "306479",
                        "confirmations": 94859,
                        "time_utc": "2014-06-18T11:17:31Z",
                        "tx": "f466e441f7fa7a6b9608fe4887721f01c0cfc3472c02f29fd69d64eb96a47434",
                        "value": 19.999
                    },
                    "nb_txs": 2,
                    "totalreceived": 20
                },
                "message": "",
                "status": "success"
            },
            "service_name": "Blockr.io",
            "timestamp": 1457221865,
            "url": "http://btc.blockr.io/api/v1/address/info/1PZ3Ps9RvCmUW1s1rHE25FeR8vtKUrhEai"
        }
        </pre>
        </code>
    </div>

</section>

{% endblock %}
