{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
    #api {
        background: #E1D6FF;
    }

    #api table {
        width: 100%;
        margin: 50px auto 50px auto;
    }

    #api table td {
        border: 1px solid gray;
        padding: 3px;
    }

    h2 {
        font-size: xx-large;
        padding: 40px;
    }

    h3 {
        background: #FFDFDB;
        padding: 40px;
        border-radius: 7px;
    }

    .code_wrapper {
        text-align: left;
        margin: 0 auto 0 auto;
        border: 1px solid gray;
        border-radius: 7px;
        background: #D9D9D9;
    }

    .examples {
        font-size: large;
        margin: 30px auto 30px auto;
        padding: 30px;
        background: #FFCECE;
        width: 75%;
    }

    .examples .title {
        font-family: helvetica;
        font-size: xx-large;
        text-align: left;
        font-weight: bold;
    }

    .info {
        background: white;
        max-width: 50%;
        min-width: 300px;
        text-align: left;
        padding: 20px;
        background: 1px solid #dfdfdf;
        border-radius: 7px;
        margin: 0 auto 0 auto;
    }

    .url {
        text-aize: large;
        font-weight: bold;
        padding: 20px;
    }

    .general_url {
        font-size: x-large;
    }

    code {
        font-size: small;
    }
</style>

<section id="api">
    <h2>API Documentation</h2>

    <h3>Table of Contents</h3>
    <div class="info">
        <ul>
            <li><a href="#service_table">Service Table</a></li>
            <li><a href="#current_price">Current Price</a></li>
            <li><a href="#address_balance">Address Balance</a></li>
            <li><a href="#unspent_outputs">Unspent Outputs</a></li>
            <li><a href="#historical_transactions">Historical Transactions by Address</a></li>
            <li><a href="#single_transaction">Single Transaction by TXID</a></li>
            <li><a href="#get_block">Block Information</a></li>
            <li><a href="#get_optimal_fee">Optimal Transaction Fee</a></li>
            <li><a href="#push_tx">Push Transaction</a></li></li>
            <li>Memo Server
                <ul>
                    <li><a href="#memo_publish">Memo Publish</a></il>
                    <li><a href="#get_memos">Get Memos for txid</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <h3>Introduction</h3>

    <div class="info">

        <h4>What can I do with the multiexplorer API?</h4>

        The Multiexplorer API can be used to create a cryptocurrency wallet that is
        both lightweight (meaning it doesn not use large amounts of bandwidth, memory and hard drive space)
        and decentralized.

        <h4>Doesn't building a wallet that depends on an expernal service make it centralized?</h4>

        Only if that wallet was dependent on that one service. If that wallet cross-checked
        all API calls through other APIs, then decentralization is maintained.

        <h4>Can I run my own multiexplorer API?</h4>

        Yes, all the software that runs the multiexplorer API is open source and
        available on Github.

        <h4>Who decides which services get used here?</h4>

        The operators of multiexplorer.com decide which services get used here.
        If you run your own instance of multiexplorer, you can disable certain services
        and define your own set.

    </div>

    <a name="service_table"></a>
    <h3>Pass through JSON API</h3>

    <div class="info">
        Use a single blockexplorer API via multiexplorer as a pass-thtough.
        Service_id is a number cooresponding to the serivice in the table below.

        {{ service_table|safe }}

        All API calls take a service_id parameter. This parameter can be used to call a single survice,
        or it can be used to enable various "fetching modes".

        <ul>
            <li>
                <strong>fallback</strong> to denote you want to use the first working service. Each currency
                has an ordered list of defined services. Using this mode guarantees a result
                (from somewhere) will always be returned.
                This service can be thought as being "high availability".
            </li>
            <li>
                <strong>paranoidN</strong> to enable paranoid mode. This will call <i>N</i> services, and verify that they all
                return the same data. If any service returns a different value, the call will indicate this.
                In the case of a paranoid mode failure, the underlying cryptocurrency network may be forked.
            </li>
            <li>
                <strong>averageN</strong> can be used to calculate the average of <i>N</i> service calls.
                This mode is helpful for determining the optimal transaction fee and current price.
                This mode does not apply to many blockchain operations since all services return the exact same data.
            </li>
            <li>
                <strong>privateN</strong> can be used to on services that take multiple addresses.
                One service will be used for each addresses passed in. This mode is applicable to
                `address_balance`, `unpent_outputs` and `historical_transactions`. All calls will be
                spread out over <i>N</i> number of seconds. The higher value of <i>N</i> passed
                throug, the higher level of privacy achieved. Max value for <i>N</i> is 30.
            </li>
        </ul>
    </div>

    <a name="current_price"></a>
    <h3>Current Price</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/current_price/<i>[service_id]</i>?[fiat=<i>fiat</i>|currency=<i>currency</i>]</span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the service number in the table above,
                or a servcie mode such as "fallback", "average3". Note, "paranoid mode"
                and "private mode" does not apply in the context of current price.</li>
            <li>The <i>currency</i> argument is required. Enter three leter cryptocurrency code.</li>
            <li>The <i>fiat</i> argument is required. Enter three leter fiat currency code.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the raw_response field in the response.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/current_price/fallback?fiat=usd&amp;currency=btc&amp;include_raw=true
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "btc",
            "Bitcoin"
        ],
        "current_price": 459.34,
        "fetched_seconds_ago": 2829,
        "raw_response": {
            "ask": "459.40",
            "bid": "458.56",
            "high": "470.02",
            "last": "459.34",
            "low": "447.06",
            "open": 460.03,
            "timestamp": "1461553988",
            "volume": "6514.37766937",
            "vwap": "458.48"
        },
        "service_id": 1,
        "service_name": "Bitstamp",
        "url": "https://www.bitstamp.net/api/ticker/"
    }
            </pre>
            </code>
        </div>

    <a name="address_balance"></a>
    <h3>Address Balance</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/address_balance/<i>[service_id]</i>?[address=<i>address</i>|addresses=<i>addresses</i> (comma seperated)]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the service number in the table above,
                or a servcie mode such as "fallback", "paranoid3". Note, "average mode" does not
                apply in the context of address balance. If private mode is used, multiple addresses
                must be passed in via the `addresses` argument, (comma seperated).</li>
            <li>The <i>currency</i> argument is optional. If you leave it off,
                the currency will be guessed from decoding the address version byte.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the raw_response field in the response.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/address_balance/fallback?address=PVjubSWa6L3RrFNNUYFbdQUJTL84qko1P5&amp;include_raw=true
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "balance": 676.070116,
        "currency": [
            "ppc",
            "Peercoin"
        ],
        "fetched_seconds_ago": 228,
        "raw_response": {
            "code": 200,
            "data": {
                "address": "PVjubSWa6L3RrFNNUYFbdQUJTL84qko1P5",
                "balance": 676.070116,
                "balance_multisig": 0,
                "first_tx": {
                    "block_nb": "180692",
                    "confirmations": 44472,
                    "time_utc": "2015-06-20T23:20:18Z",
                    "tx": "92e41bba294e9e563bf9e41ee31cb461faf56e676a397950c6f8d983ba9c322e",
                    "value": 289.742907
                },
                "is_unknown": false,
                "is_valid": true,
                "last_tx": {
                    "block_nb": "203654",
                    "confirmations": 21510,
                    "time_utc": "2015-11-03T19:33:18Z",
                    "tx": "50c4d427ea350ccb068820667098366ad86684652d7f44f738de50a64b8c6179",
                    "value": 386.327209
                },
                "nb_txs": 2,
                "totalreceived": 676.070116
            },
            "message": "",
            "status": "success"
        },
        "service_name": "Blockr.io",
        "service_id": 5,
        "url": "http://ppc.blockr.io/api/v1/address/info/PVjubSWa6L3RrFNNUYFbdQUJTL84qko1P5"
    }
            </pre>
            </code>
        </div>

        <div class="url">
            https://{{ domain }}/api/address_balance/5?address=LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n&amp;currency=ltc
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "balance": 345339.0,
        "currency": [
            "ltc",
            "Litecoin"
        ],
        "fetched_seconds_ago": 31,
        "service_name": "Chain.So",
        "url": "https://chain.so/api/v2/get_address_balance/ltc/LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n/1"
    }
            </pre>
            </code>
        </div>

        <div class="url">
            https://{{ domain }}/api/address_balance/private5?addresses=16DsrC7mUZG7ZYJR1T6rJo16aogKicwAi9,1MgGUeGKTWjTGM8FYmVBbYhoPznZvos5cg&amp;currency=btc
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        fetched_seconds_ago: 0,
        balance: {
            16DsrC7mUZG7ZYJR1T6rJo16aogKicwAi9: 0,
            total: 0.03951847,
            1MgGUeGKTWjTGM8FYmVBbYhoPznZvos5cg: 0.03951847
        },
        currency: [
            "btc",
            "Bitcoin"
        ]
    }
            </pre>
            </code>
        </div>

    </div>

    <a name="unspent_outputs"></a>
    <h3>Unspent Outputs for Address</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/unspent_outputs/<i>[service_id]</i>?address=<i>[address]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above,
                or a service mode such as "fallback", "paranoid3". Note, "average mode" does not apply in the context of unspent outputs.</li>
            <li>The <i>currency</i> argument is optional. If you leave it off,
                the currency will be guessed from decoding the address version byte.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the raw_response field in the response.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/unspent_outputs/11?address=LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "cache_hit": false,
        "currency": [
            "ltc",
            "Litecoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "Chain.So",
        "url": "https://chain.so/api/v2/get_tx_unspent/ltc/LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n",
        "utxos": [
            {
                "address": "LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n",
                "amount": 1125000000000,
                "confirmations": 2621,
                "output": "03673409f75a36a385e1e12e51222f22c5500bc4e851ba61ddb2c5d2f78d3d5b:0"
            },
            {
                "address": "LVyKFjC1Xgu7QiADYszzHC6hSFfDELgi7n",
                "amount": 1000000000,
                "confirmations": 15,
                "output": "f83ca6959e11742889dd36e9e4d3654c10aee306c174271610bb6270b2226efe:0"
            }
        ]
    }
            </pre>
            </code>
        </div>
    </div>

    <a name="historical_transactions"></a>
    <h3>Transaction History for Address</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/historical_transactions/<i>[service_id]</i>?address=<i>[address]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above,
                or a service mode such as "fallback", "paranoid3". Note, "average mode" does not apply in the context of historical transactions.</li>
            <li>The <i>currency</i> argument is optional. If you leave it off,
                the currency will be guessed from decoding the address version byte.</li>
            <li>The data that comes out of this endpoint is meant for use in wallet UIs
                to show activity from addresses. It is not meant to be used in creation of transactions.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/historical_transactions/4?address=16DsrC7mUZG7ZYJR1T6rJo16aogKicwAi9
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "btc",
            "Bitcoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "SmartBit",
        "transactions": [
            {
                "amount": 1.91316531,
                "confirmations": 26,
                "date": "2016-03-07T02:39:19Z",
                "fee": 0.0001,
                "txid": "020c174b24dd3b75497219d01b8a2b09496e7b7bba8a7471c1310f769ca9c8a6"
            },
            {
                "amount": -1.91316531,
                "confirmations": 25,
                "date": "2016-03-07T02:48:24Z",
                "fee": 0.00968986,
                "txid": "b5a61d2bd2f74de89fae908095ec8e34c21f4771d600c0a38423def280e3c5b5"
            }
        ],
        "url": "https://api.smartbit.com.au/v1/blockchain/address/16DsrC7mUZG7ZYJR1T6rJo16aogKicwAi9"
    }

            </pre>
            </code>
        </div>
    </div>

    <a name="single_transaction"></a>
    <h3>Single Transaction by TXID</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/single_transaction/<i>[service_id]</i>?currency=<i>[currency_code]</i>&amp;txid=<i>[txid]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above,
                or a service mode such as "fallback", "paranoid3". Note, "average mode" does not apply in the context of a transaction.</li>
            <li>The <i>currency</i> argument is required.</li>
            <li>The <i>fiat</i> option is optional and will return the fiat price
                at the time of the transaction being confirmed. options include: usd, eur, rur, and btc.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/single_transaction/fallback?currency=ltc&amp;txid=3a1e7ad13f99b2aed018ce1fe269665b530293174e9a2b92bf8f16d852a70b4c&amp;fiat=usd
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "ltc",
            "Litecoin"
        ],
        "fetched_seconds_ago": 19,
        "transaction": {
            "block_number": 992053,
            "confirmations": 155729,
            "fee": 0.00181212,
            "historical_fiat": {
              "fiat": "usd",
              "source": "BTCe",
              "price": 3.84
            },
            "inputs": [
                {
                    "address": "LiMKkg8UqHgJJ19m97GhfBPPyi2ajqtSqR",
                    "amount": 11948020
                },
                {
                    "address": "LS6MWGEtaQy9ER3C4JY1bBBgbpvnZr26qL",
                    "amount": 11986421
                }
            ],
            "memos": [
                "U2FsdGVkX1/4sIbXOI8JH1N2WBTp1cKz/A/RDV416FY="
            ],
            "outputs": [
                {
                    "address": "LRr5ehqmscVZH2t5fhLN8gfQZd28xP7u6Y",
                    "amount": 11662384
                },
                {
                    "address": "LUtQ7dGABJ5KWsoX184vfCEajJERRPiMWt",
                    "amount": 12090845
                }
            ],
            "time": "2016-05-16T00:09:54+00:00",
            "total_in": 23934441,
            "total_out": 23753229,
            "txid": "3a1e7ad13f99b2aed018ce1fe269665b530293174e9a2b92bf8f16d852a70b4c"
        }
    }
            </pre>
            </code>
        </div>
    </div>

    <a name="get_block"></a>
    <h3>Block Information</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/get_block/<i>[service_id]</i>?block_number=<i>[block_number]</i>&amp;block_hash=<i>[block_hash]</i>&amp;latest=<i>[true|false]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above,
                or a service mode such as "fallback", "paranoid3". Note, "average mode" does not apply in the context of block information.</li>
            <li>The <i>currency</i> argument is <strong>required</strong>. There is no way to infer the currency
                from the block hash or block height, unlike from address version byte.</li>
            <li>You can use either <i>block_number</i>, <i>latest</i> or <i>block_hash</i>, but only one at the same time.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/get_block/6?block_hash=00000000b6ee1bc8ef48268ca7fbd243cf2d4c4792620ebfc5933cf08c487bdb&amp;currency=btc
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "block": {
            "block_number": 231,
            "confirmations": 401306,
            "hash": "00000000b6ee1bc8ef48268ca7fbd243cf2d4c4792620ebfc5933cf08c487bdb",
            "merkle_root": "6229511483becd964893b5994aa7a2876d7435bc0c70cab7bfdb1c6eb3703d8c",
            "mining_difficulty": 1.0,
            "next_hash": "0000000098e453043107b29a58db813021640b3def7c1e659742ddf56420d6ca",
            "previous_hash": "00000000a7494fded2b0cc826dd1c58f1c383714f2de0449a3a3643ead5452c2",
            "sent_value": 50.0,
            "size": 216,
            "time": "2009-01-12T16:23:23Z",
            "total_fees": 0.0,
            "tx_count": 1,
            "txids": [
                "6229511483becd964893b5994aa7a2876d7435bc0c70cab7bfdb1c6eb3703d8c"
            ]
        },
        "currency": [
            "btc",
            "Bitcoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "Toshi",
        "url": "https://bitcoin.toshi.io/api/v0/blocks/00000000b6ee1bc8ef48268ca7fbd243cf2d4c4792620ebfc5933cf08c487bdb"
    }
            </pre>
            </code>
        </div>

        <div class="url">
            https://{{ domain }}/api/get_block/32?block_number=653&amp;currency=vtc<br>
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "block": {
            "block_number": 653,
            "confirmations": 467163,
            "hash": "97959ad8dea703320b57028d0e7b5f9567ae5e8c80fc01a50764f3e3f27f61cf",
            "merkle_root": "379acf765df947097f605c68bf26dbf560183b501d8d1b6e883c21ac7270a084",
            "mining_difficulty": 0.00024414,
            "next_hash": "795b5c2a07be3252c4f61d446d8d75a6205af84e668929df05a9370a375d6b1f",
            "previous_hash": "2f878ebd803971e323f2d1c441ce19008ec823a0f6c2af607fd2b5997975f307",
            "size": 188,
            "time": "2014-01-11T09:34:31Z",
            "tx_count": 1,
            "txids": [
                "379acf765df947097f605c68bf26dbf560183b501d8d1b6e883c21ac7270a084"
            ],
            "version": 2
        },
        "currency": [
            "vtc",
            "Vertcoin"
        ],
        "fetched_seconds_ago": 0,
        "service_name": "This is VTC",
        "url": "http://explorer.thisisvtc.com/api/block/97959ad8dea703320b57028d0e7b5f9567ae5e8c80fc01a50764f3e3f27f61cf"
    }
            </pre>
            </code>
        </div>

    </div>

    <a name="get_optimal_fee"></a>
    <h3>Recommended Transaction Fee</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/optimal_fee/<i>[service_id]</i>?currency=<i>[curency_code]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above,
                or a service mode such as "fallback", "paranoid3". Note, <i>only</i> "average mode" applies for the optimal fee endpoint.
                Each service returns a different value, so it makes sense to use the value of each service averaged together.
                Paranoid mode will always fail, because rarely do each service return the exact same recommended fee.</li>
            <li>The <i>currency</i> argument is <strong>required</strong>. Must be 3 or 4 letter code.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
            <li>Returned is the amount of satoshi's that should be added as a transaction fee per KiB (1024 bytes).</li>
            <li>For all currencies except Bitcoin, a fee of $0.02 USD is returned.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/optimal_fee/average4?currency=btc
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "btc",
            "Bitcoin"
        ],
        "fetched_seconds_ago": 0,
        "optimal_fee_per_KiB": 42461,
        "services": [
            {
                "id": 35,
                "name": "CoinTape"
            },
            {
                "id": 40,
                "name": "bitcoinfees.21.co"
            },
            {
                "id": 36,
                "name": "BitGo"
            },
            {
                "id": 2,
                "name": "BlockCypher"
            }
        ]
    }
            </pre>
            </code>
        </div>

        <div class="url">
            https://{{ domain }}/api/optimal_fee/fallback?currency=ltc<br>
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
        "currency": [
            "ltc",
            "Litecoin"
        ],
        "fetched_seconds_ago": 0,
        "optimal_fee_per_KiB": 602391
    }
            </pre>
            </code>
        </div>

    </div>

    <a name="push_tx"></a>
    <h3>Push Transaction</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/api/push_tx/<i>[service_id]</i>?currency=<i>[curency_code]</i></span>
        <ul>
            <li><i>service_id</i> is a number corresponding to the number in the table above,
                or a service mode such as "fallback", "paranoid3".
            <li>The <i>currency</i> argument is <strong>required</strong>. Must be 3 or 4 letter cryptocurrency code.</li>
            <li>The <i>include_raw</i> argument is also optional. Setting it to true will include
                the response as it was returned directly from the service.</li>
            <li>Returned is txid of the newly pushed transaction.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/api/push_tx/average4?currency=btc
        </div>
        <div style="word-break: break-all;">
            POST body:<br>

            currency=btc&amp;tx=010000000107f0642fe05002897feefbe360d17f6188d7a6225334f326600f81134fc490a5000000006a47304402206e1405629bf32dca1488a990bc76ae649e339047993faee5dca9bd25e4c26b7a0220166ceea91fcef18ccc7a4a4c0fcc526b1450222ca5002b1eac0c0689753563020121026a759b6e21c088778474b441f140d4b508266bbfc3bc59c7cd0c942906ad1647ffffffff02409c0000000000001976a9148184a08d1da9b575619289802c83422ca498879e88ac0d1b0000000000001976a91424466fddc5ca5e81f6c35ca8c01036be6e7ae27c88ac00000000
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
    {'txid': 896744a809d9b7bcb682c3c94916aadd5d89d7b771b0337910446061a24e5e07}
            </pre>
            </code>
        </div>

    </div>

    <a name="memo_publish"></a>
    <h3>Publish New Memo</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/memo</span>
        <ul>
            <li>Neither <i>service_id</i> nor <i>service_mode</i> pertains to this endpoint.
            <li>Fields included in POST body must be: currency, encrypted_text
            pubkey, signature, and txid.</li>
            <li>Refer to the BIPXXX specification on specifics on how to prepare
            the signature and <i>encrypted_text</i>.</li>
            <li>Returned is always "OK" if completed successfully.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/memo
        </div>
        <div style="word-break: break-all;">
            POST body:<br>

            currency=btc&amp;encrypted_text=U2FsdGVkX1/G2ErLcbFGMGI1L7HdaN01nctjQrsV3nTOixrnY6pz15mOQ7aCtPNh&amp;pubkey=03fb3147dc93058b04ac6b9f0cd8389ab994a8d20dfad70ba390bedb4cf292d5db&amp;signature=INSk3Xv13uz9j5DfCYJ6mJQevpbPP2tWi7NyMUW1eSRoFpP7ZhtIWEMWjX89+vWGNNeD5DIfESp8YaFOtIedMvU=&amp;txid=9a6e1f0ac89582d09eb795e63221ffb91e65e060320c487dcb549601f85830dd&amp;
        </div>
        <div class="code_wrapper">
            <code>
            <pre>
                OK
            </pre>
            </code>
        </div>

    </div>

    <a name="get_memos"></a>
    <h3>Get Memos by TXID</h3>

    <div class="info">
        URL general form:<br>
        <span class="general_url">https://{{ domain }}/memo?currency=<i>[currency_code]</i>&txid=<i>[txid or comma seperated list of txids]</i></span>
        <ul>
            <li>Neither <i>service_id</i> nor <i>service_mode</i> pertains to this endpoint.
            <li>Fields included in POST body must be: currency, encrypted_text
            pubkey, signature, and txid. TXID can be full or partial.</li>
            <li>Refer to the BIPXXX specification on specifics on how to prepare
            the signature and <i>encrypted_text</i>.</li>
            <li>Returned is always "OK" if completed successfully.</li>
        </ul>
    </div>

    <div class="examples">
        <div class='title'>Examples:</div>
        <div class="url">
            https://{{ domain }}/memo?currency=ltc&amp;txid=922668d583c60822542a4668b9a6d781e9e58d46851dfe7414d2bff2fce463d6<br>
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
    {
      "memos": [
        {
          "memo": "U2FsdGVkX19McXnOAgL9+znA2QzVmJCyG/GbRltGkLfKclcBAjTC4KD2yJSD5O1decojOfkZOXqFH6DhlL5qNpiwLGn72rIpodbzbSwLW90=",
          "txid": "922668d583c60822542a4668b9a6d781e9e58d46851dfe7414d2bff2fce463d6"
        }
      ]
    }
            </pre>
            </code>
        </div>

        <div class="url">
            https://{{ domain }}/memo?currency=ltc&amp;txid=922668,6819ed,677254<br>
        </div>

        <div class="code_wrapper">
            <code>
            <pre>
        {
          "memos": [
            {
              "memo": "U2FsdGVkX1/uNk+avjf7hGUWaFHB1jlrtSmUhTFlu3w=",
              "txid": "6819ed9573134bcceef2d8c2bfd2c8d1b373569098abcb748b655b03383dc9ad"
            },
            {
              "memo": "U2FsdGVkX19McXnOAgL9+znA2QzVmJCyG/GbRltGkLfKclcBAjTC4KD2yJSD5O1decojOfkZOXqFH6DhlL5qNpiwLGn72rIpodbzbSwLW90=",
              "txid": "922668d583c60822542a4668b9a6d781e9e58d46851dfe7414d2bff2fce463d6"
            },
            {
              "memo": "U2FsdGVkX1889v0l2GibFg4Ca0JtZAPCRfKhLt1Ykt7PH787qPGkJN0BqbgqToX5",
              "txid": "6772540dd8fb137c9292e60da492c57c413a746f6e223597381340b9bd31f8c5"
            }
          ]
        }
            </pre>
            </code>
        </div>

    </div>

</section>

{% endblock %}
