{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section  id="get_block">
    <h2>The Block Explorer that uses other block explorers.</h2>

</section>

<style>

    .utxo_table {
        margin: 10px;
        width: 25em;
        background: #FFD19E;
    }

    #address_balance {
        background: #FFF2D6;
    }

    h2 {
        padding-bottom: 15px;
        margin: 5px;
    }

    .aggregated_container {
        margin: 0 auto 0 auto;
        padding: 20px;
    }

    .utxo_table {
        margin: 5px auto 5px auto;
        border: 1px solid gray;
        padding: 5px;
        width: 100%;
    }

    .utxo_table td {
        text-align: left;
    }

</style>

<script>
    //var bitcore = require('bitcore-lib');
    var service_info = JSON.parse('{{ service_info_json|safe }}');
    var crypto_data = JSON.parse('{{ crypto_data_json|safe }}');

</script>

{% endblock %}
