{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
    .tx_amount {
        font-weight: bold;
    }
    .positive {
        color: green;
    }
    .negative {
        color: red;
    }
    .historical_tx {
        margin: 0 auto 0 auto;
        background: #DBFFE1;
    }
    .historical_tx td {
        padding: 5px;
    }

    #qr_and_logo_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 3px;
        width: calc(100% - 3px);
        border: 0px solid black
    }

    .qr_or_logo {
        width: 200px;
        height: 200px;
        margin: 10px 0px 10px 0px;
    }
</style>
<script src="{% static 'jquery.qrcode.min.js' %}"></script>
<section style="background: #DBF5FF">
    <h2>{{ currency|upper }} ({{ currency_name }})</h2>
    {{ address }}

    <div id="qr_and_logo_container">
        <img class="qr_or_logo" src="{% static currency_icon %}">
        <div class="qr_or_logo" id="qr"></div>
    </div>

    <h3>Network Consensus <span class="consensus_count"></span></h3>
    <div class="service_call_container"></div>

    <h3>Historical Transactions</h3>
    <table class="historical_tx">
    {% for tx in transactions %}
        <tr>
            <td>{{ tx.date|date:"D F d, Y" }}</a></td>
            <td><span class="tx_amount {% if tx.amount > 0 %}positive{% else %}negative{% endif %}">
                {% if tx.amount > 0 %}+{% else %}-{% endif %}{{ tx.amount }} {{ currency|upper }}</span></td>
            <td><a href="/tx/{{ currency }}/{{ tx.txid }}">{{ tx.txid|truncatechars:8 }}</a></td>
            <td>{{ tx.confirmations }} confirmations</td>
        </tr>
    {% empty %}
        <tr><td>No Transactions to show.</td></tr>
    {% endfor %}
    </table>

</section>

<script src="{% static 'consensus_from_services.js' %}"></script>
<script>
    $("#qr").qrcode({width: 200, height: 200, text: "{{ address }}"});

    var service_info = JSON.parse('{{ service_info_json|safe }}');
    var crypto_data = JSON.parse('{{ crypto_data_json|safe }}');
    var address = "{{ address }}";

    $("#addres_balance .service_call").remove();
    var currency = "{{ currency }}";

    present_results(
        currency, "address_balance", "?address=" + address,
        function(response, matches) {
            var mch_cls = matches ? "matches" : "not-matches";
            return "<span class='final_result " + mch_cls + "'><span class='balance'>" + response['balance'] + '</span> ' + currency.toUpperCase() + "</span>"
        },
        function(response, container) {
            var matched = 0;
            var new_value = response['balance'];
            var previous = container.find('.balance');

            if(previous.length == 0) {
                return true;
            }

            $.each(previous, function(i, result) {
                // each previous result
                var numerical = parseFloat($(result).text())
                if(numerical == new_value) {
                    matched += 1;
                }
            });

            var in_consensus = matched > (previous.length / 2);
            if(in_consensus) {
                $(".consensus_count").text("(" + (matched + 1) + " services agree)")
            }

            //console.log("Result", in_consensus, matched, new_value, previous.length, response['service_name']);
            return in_consensus;
        }
    );
</script>

{% endblock %}
