{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
    table td {
        vertical-align: top;
    }
    .numbers_cell {
        text-align: right
    }
</style>
<table>
    <tr>
        <td>TXID:</td><td>{{ tx.txid }}</td>
    </tr>
    <tr>
        <td>Time:</td><td>{{ tx.time }}</td>
    </tr>
    <tr>
        <td>Size:</td><td>{{ tx.size }}</td>
    </tr>
    <tr>
        <td>Fee:</td><td>{{ tx.fee }}</td>
    </tr>
    <tr>
        <td>Inputs:</td>
        <td>
            <table>
        {% for input in tx.inputs %}
            <tr>
                <td>
                    <a href="{{ input.txid }}">{{ input.txid }}</a>
                </td>
                <td class="numbers_cell">
                    {{ input.amount }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </tr>
    <tr>
        <td>Outputs:</td>
        <td>
        <table>
        {% for output in tx.outputs %}
            <tr>
                <td>
                    <a href="/address/{{ output.address }}?currency={{ crypto }}">{{ output.address }}</a>
                </td>
                <td style="text-align: right">
                    {{ output.amount }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </tr>
</table>
{% endblock %}
