<doctype html>
{% load staticfiles %}

<html>
  <head>
    <style>

    </style>
    <script src="{% static 'jquery-2.2.1.min.js' %}"></script>

  </head>
  <body>
    <h2>Test Page</h2>
    <script>
        var $_GET = {};
        if(document.location.toString().indexOf('?') !== -1) {
            var query = document.location
                           .toString()
                           // get the query string
                           .replace(/^.*?\?/, '')
                           // and remove any existing hash string (thanks, @vrijdenker)
                           .replace(/#.*$/, '')
                           .split('&');

            for(var i=0, l=query.length; i<l; i++) {
               var aux = decodeURIComponent(query[i]).split('=');
               $_GET[aux[0]] = aux[1];
            }
        }

        var unmodified_url = "{% static 'bitcore-lib.min.js' %}";
        var modified_url = "{% static 'bitcore-modified.js' %}";


        if($_GET['modified'] == 'true') {
            console.log("using modified bitcore");
            url = modified_url;
        } else {
            console.log("using unmodified bitcore");
            url = unmodified_url;
        }

        $.getScript(url, function() {

            bitcore = require('bitcore-lib');

            //var add = bitcore.Address.isValid('37BahqRsFrAd3qLiNNwLNV3AWMRD7itxTo', 'testnet')
            //console.log(add);

            var err = bitcore.Address.getValidationError('37BahqRsFrAd3qLiNNwLNV3AWMRD7itxTo', 'testnet');
            console.log(err);
        });
    </script>
  </body>
</html>

<!--  -->
