<doctype html>
{% load staticfiles %}

<html>
  <head>
    <style>

    </style>

    <script src="{% static 'bitcore-lib.min.js' %}"></script>
    <!-- <script src="{% static 'bitcore-modified.js' %}"></script> -->
    <script src="{% static 'jquery-2.2.1.min.js' %}"></script>

  </head>
  <body>
    <h2>Test Page</h2>
    <script>
        bitcore = require('bitcore-lib');

        var network = {};
        network.alias = 'break';
        network.name = 'break'
        network.pubkeyhash = 76;
        bitcore.Networks.add(network);

        var one_to_50 = Array(90).fill().map(function(_, i){return i+1});
        $.each(one_to_50, function(i, num){
            var network = {};
            network.alias = num;
            network.name = num
            network.pubkeyhash = num;
            bitcore.Networks.add(network);
            var n = bitcore.Networks.get(num)

            var add = (new bitcore.PrivateKey()).toAddress(n).toString();
            var result = bitcore.Address.isValid(add, n)
            console.log(num, result, add);

        });

    </script>
  </body>
</html>

<!--  -->
