<div class="fee_wrapper">
    <label>
        <input type="radio" name="fee" value="0">
        No Fee
    </label>
</div>

<div class="fee_wrapper">
    <label>
        <input type="radio" name="fee" value="0.5">
        Half Optimal Fee (<span class="fiat_symbol"></span>
        <span class="half_fee_rate fiat_fee">
            <div class="thin-spinner" style="height: 12px; width: 12px;"></div>
        </span>
        <span class="fiat_unit"></span>)
    </label>
</div>

<div class="fee_wrapper">
    <label>
        <input type="radio" name="fee" value="1.0" checked="checked">
        Optimal Fee (<span class="fiat_symbol"></span>
        <span class="full_fee_rate fiat_fee">
            <div class="thin-spinner" style="height: 12px; width: 12px;"></div>
        </span>
        <span class="fiat_unit"></span>)
    </label>
</div>

<div class="fee_wrapper">
    <label>
        <input type="radio" name="fee" value="2.0">
        Double Optimal Fee (<span class="fiat_symbol"></span>
        <span class="fiat_fee double_fee_rate">
            <div class="thin-spinner" style="height: 12px; width: 12px;"></div>
        </span>
        <span class="fiat_unit"></span>)
    </label>
</div>
