<div class="center_box" id="login_box">
    <form id="login_form" method="post">
        <h3>Login {% if user.is_authenticated %} as {{ user.username }}{% endif%}</h3>
        <span id="login_error" style="color: red"></span><br>
        <div {% if user.is_authenticated %}style="display: none"{% endif %}>
        Username: <input type="text" name="username" value="{{ username }}"></div><br>
        Password: <input type="password" name="password" id="password"><br>
        <br><br>
        <input type="submit" value="login">

    </form>
</div>
<script>
var raw_password = undefined;
var raw_mnemonic = undefined;
$("#login_form").submit(function(event) {
    event.preventDefault();
    var username = $(this).find("input[name=username]").val();
    raw_password = $(this).find("input[name=password]").val();

    $("#register_box, #login_box").hide();
    $("#loading_screen").show();

    $.ajax({
        url: "{% url 'login' %}",
        type: 'post',
        data: {
            username: "{{ user.username }}" || username,
            password: raw_password,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        }
    }).success(function(response) {
        // if this ajax returns successfully, then the password is correct.
        raw_mnemonic = CryptoJS.AES.decrypt(response['encrypted_mnemonic'], raw_password).toString(CryptoJS.enc.Utf8);
        hd_master_seed = (new Mnemonic(raw_mnemonic)).toHDPrivateKey();
        $("#login_error").text("");
        exchange_rates = response.exchange_rates;
        fill_in_settings(response.wallet_settings);
    }).fail(function(jqXHR) {
        $("#login_error").text(jqXHR.responseText);
        $("#register_box, #login_box").show();
    });

});
</script>
