{% load staticfiles %}

<div id="wallet_front_screen">
    <div class="center_box" id="login_box">
        <form id="login_form" method="post">
            <h3>Login {% if user.is_authenticated %} as {{ user.username }} <a href="/logout" onclick="localStorage.clear();">Log Out</a>{% endif %}</h3>
            <span id="login_error" style="color: red"></span><br>
            <div {% if user.is_authenticated %}style="display: none"{% endif %}>
            Username: <input type="text" name="username" value="{{ user.username }}"></div><br>
            Password: <input type="password" name="password" id="password"><br>
            <br><br>
            <input type="submit" value="login">
        </form>

    </div>

    <div id="landing_page">
        <h2>Multiexplorer Wallet.</h2>

        Features include:
        <ul>
            <li>Utilizes Moneywagon Private Mode to avoid
                blockchain api service log analysis de-anonymization.
            </li>
            <li>
                Private Key is not stored by the service. Similar to the wallet
                provided by Blockchain.info. If hackers get ahold of a database
                dump containing all multiexplorer user data,
                those hackers will not be able to move any customer funds.
                Users do not have to trust the server operators of multiexplorer wallet.
            </li>
            <li>
                All addresses are derived from a single deterministic seed. Backing up and restoring
                from a backup happens from a single 12 word mnemonic phrase.
            </li>
            <li>
                Each transaction multiexplorer wallet makes uses a unique address for the change
                address, making this walet suitable as a general purpose wallet that preserves
                user privacy.
            </li>
            <li>
                Calculates optimal fee, so all transactions made by multiexplorer wallet will
                confirm quickly, regardless of an occuring capacity spike.
            </li>
            <li>
                Shapeshift.io support for built in conversion between any supported currency.
            </li>
            <li>
                Full sending/sweeping/receiving support for the following currencies:
                <ul>
                    {% for data in crypto_data %}
                    <li><img src="{% static data.logo %}" style="width: 35px; height: 35px"> {{ data.code|upper }} - {{data.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
function make_encrypted_passwords(raw_password, salt, callback) {
    // used both during login and registration. Derive a key from the raw
    // password using username as salt. One key is sent to the server as a
    // password for the django auth system, the other derived key is used to encrypt
    // the wallet mnemonic. Therefore this second derived key should never
    // get sent to the server.
    scrypt_module_factory(function (scrypt) {
        var server_password = scrypt.to_hex(scrypt.crypto_scrypt(
            scrypt.encode_utf8(raw_password),
            scrypt.encode_utf8(salt),
            16384, 8, 1, 64
        ));
        var mnemonic_password = scrypt.to_hex(scrypt.crypto_scrypt(
            scrypt.encode_utf8(raw_password),
            scrypt.encode_utf8(salt + "Mnemonic"),
            16384, 8, 1, 64
        ));
        //console.log(server_password, mnemonic_password);
        callback(server_password, mnemonic_password);
    });
};

var OLD_LOGIN = false;
var raw_password = undefined;
$("#login_form").submit(function(event) {
    event.preventDefault();
    var username = $(this).find("input[name=username]").val();
    raw_password = $(this).find("input[name=password]").val();

    var button = $(this).find("input[type=submit]");
    button.attr('disabled', true);

    $("#register_box, #wallet_front_screen").hide();
    $("#loading_screen").show();

    setTimeout(function() {
        make_encrypted_passwords(raw_password, username, function(encrypted_password, mnemonic_password) {
            if(OLD_LOGIN) {
                encrypted_password = raw_password;
                mnemonic_password = raw_password;
            }
            $.ajax({
                url: "{% url 'login' %}",
                type: 'post',
                data: {
                    username: "{{ user.username }}" || username,
                    password: encrypted_password,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                }
            }).success(function(response) {
                // if this ajax returns successfully, then the password is correct.
                raw_mnemonic = CryptoJS.AES.decrypt(response['encrypted_mnemonic'], mnemonic_password).toString(CryptoJS.enc.Utf8);
                hd_master_seed = (new Mnemonic(raw_mnemonic)).toHDPrivateKey();
                $("#login_error").text("");
                exchange_rates = response.exchange_rates;
                if(localStorage['username'] != username) {
                    localStorage.clear();
                    localStorage['username'] = username;
                }
                fill_in_settings(response.wallet_settings);
            }).fail(function(jqXHR) {
                if (jqXHR.responseJSON.tries_left) {
                    $("#login_error").text("Failed Login! " + jqXHR.responseJSON.tries_left + " tries left");
                } else if (jqXHR.responseJSON.login_timeout) {
                    $("#login_error").text("Too many login attempts! " + jqXHR.responseJSON.login_timeout);
                }

                $("#register_box, #wallet_front_screen").show();
                $("#loading_screen").hide();
                button.attr('disabled', false);
            });
        }, 1000);
    });

});
</script>
