{% extends "base.html" %}
{% load staticfiles %}

{% block extra_menu_items %}

<span id="wallet_settings_wrapper"><a href="#" id="wallet_settings">Wallet Settings</a> -</span>

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'jquery-ui.min.css' %}">
<script src="{% static 'jquery-ui.min.js' %}"></script>
<script src="{% static 'aes.js' %}"></script>
<script src="{% static 'bitcore-lib.min.js' %}"></script>
<script src="{% static 'bitcore-mnemonic.min.js' %}"></script>
<script src="{% static 'underscore-min.js' %}"></script>
<script>
    var bitcore = require('bitcore-lib');
    var Mnemonic = require('bitcore-mnemonic');
    var crypto_data = JSON.parse('{{ crypto_data_json|safe }}');
    var hd_master_seed = undefined;
    var spinner_url = "{% static 'spin.gif' %}";
    var optimal_fees = {};
    var used_addresses = {}
    var unused_deposit_addresses = {};
    var unused_change_addresses = {};
    var exchange_rates = {};
    var utxos = {};
</script>
<script src="{% static 'wallet.js' %}"></script>
<style>
    .center_box {
        width: 250px;
        margin: 20px auto 0 auto;
        background: #dfdfdf;
        padding: 10px;
        border: 1px solid brown;
        border-radius: 7px;
    }

    #wallets {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .deposit_address {
        font-size: small;
    }

    .crypto_box {
        border: 1px solid green;
        background: #efd4ef;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .qr {
        width: 100px;
        height: 100px;
    }
    button {
        padding: 7px;
        margin: 3px;
        font-weight: bold;
    }
    .deposit_area {
        background: white;
        padding: 5px 3px 5px 3px;
        margin: 5px;
        width: 17em;
        border: 1px solid #dfdfdf;
    }

    .send_btn {
        background: #84FF8A;
        padding: 5px;
        margin: 5px;
    }

    #loading_screen {
        display: none;
        border: 1px solid green;
        width: 250px;
        margin: 0 auto 0 auto;
        padding: 10px;
        text-align: center;
        background: #dfdfdf;
    }

    .qr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .arrow_button {
        width: 9em;
    }

    #mnemonic_disp {
        background: white;
        padding: 5px;
        width: calc(100% - 5px);
        border: 1px solid gray
    }
    #wallet_settings_wrapper {
        display: none;
    }

    .fee_rate_area {
        font-size: x-small;
        margin-bottom: 10px;
    }

    .optimal_fee_rate_per_byte {
        font-weight: bold;
    }

    .send_part {
        display: none;
        text-align: left;
    }

    .cancel_send {
        background: #FFAEAE;
    }
    .submit_send {
        background: #AFFFB3;
    }

    .submit_send:disabled {
        background: #FEFEFE;
    }

    .fee_wrapper {
        margin: 20px;
    }
</style>
{% include "login.html" %}

{% if not user.is_authenticated %}
    {% include "register.html" %}
{% endif %}

<div style="width: 100%;">
    <div id="loading_screen">
        Deriving Wallet Addresses and Generating QR codes...<br><br>
        <img src="{% static 'spin.gif' %}">
    </div>
</div>

<div id="wallets">
    {% for data in crypto_data %}
    <div class="crypto_box" data-currency="{{ data.code }}" style="display: none">
        <h3>{{ data.name }} ({{ data.code|upper }})</h3>
        Balance: <span class="crypto_balance">0.0</span> {{ data.code|upper }}<br>
        <span class="fiat_balance"><img src="{% static 'spin.gif' %}"></span> <span class="fiat_unit"></span>
        <span class="balance_fiat"></span>
        <table style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <img src="{% static data.logo %}" style="width: 100px; height: 100px">
                </td>
                <td style="width: 50%">
                    <div class="qr"></div>
                </td>
            </tr>
        </table>
        <div class="receive_part">
            <div class="deposit_area">
                <span class="deposit_address"></span>
            </div>
            <button class="deposit_shift_up arrow_button">&larr;</button>
            <button class="deposit_shift_down arrow_button">&rarr;</button>
            <br>
            <button class="switch_to_send">Send</button>
            <button class="switch_to_exchange">Exchange</button>
            <button class="switch_to_history">History</button>
        </div>
        <div class="send_part">
            <button class="cancel_send">Cancel Send</button>
            <br>
            <lable>Address</label><br>
            <input type="text" class="sending_recipient_address" style="width: 100%">

            <br><br>

            <label>Crypto Amount</label><br>
            <input type="text" class="sending_crypto_amount"> {{ data.code|upper }}

            <br><br>

            <label>Fiat Amount</label><br>
            <input type="text" class="sending_fiat_amount"> <span class="fiat_unit"></span>

            <br><br>

            <div class="fee_rate_area">
                Optimal transaction fee based on current<br>
                network conditions:
                <span class="optimal_fee_rate_per_byte"></span> Satoshi/byte
            </div>

            <div class="fee_wrapper">
                <label>
                    <input type="radio" name="{{ data.code }}_fee" value="half">
                    Half Optimal Fee (<span class="half_fee_rate fiat_fee">
                    <img src="{% static 'spin.gif' %}"></span>
                    <span class="fiat_unit"></span>)
                </label>
            </div>

            <div class="fee_wrapper">
                <label>
                    <input type="radio" name="{{ data.code }}_fee" value="full" checked="checked">
                    Optimal Fee (<span class="full_fee_rate fiat_fee">
                    <img src="{% static 'spin.gif' %}"></span>
                    <span class="fiat_unit"></span>)
                </label>
            </div>

            <div class="fee_wrapper">
                <label>
                    <input type="radio" name="{{ data.code }}_fee" value="double">
                    Double Optimal Fee (<span class="fiat_fee double_fee_rate">
                    <img src="{% static 'spin.gif' %}"></span>
                    <span class="fiat_unit"></span>)
                </label>
            </div>
            
            <hr>
            <button class="submit_send">Send</button>
            <div class="send_error_area"></div>
        </div>
    </div>
    {% endfor %}
</div>

<div style="display: none">

    <div id="history_modal">
        history
    </div>
    <div id="exchange_modal">
        exchange
    </div>

    <div id="settings_modal">
        <form id="settings_form">
            Display Local Currency:<br>
            <select name="display_fiat">
                {% for fiat in supported_fiats %}
                <option value="{{ fiat }}">{{ fiat|upper }}</option>
                {% endfor %}
            </select>
            <br><br>
            Display Crypto wallets:<br>
            {% for crypto in supported_cryptos %}
                <input type="checkbox" value="{{ crypto }}" class="supported_crypto">
                {{ crypto|upper }}<br>
            {% endfor %}
            <br>
            Automatically log out after...<br>
            <select name="auto_logout">
                {% for ch in autologout_choices %}
                <option value="{{ ch.0 }}">{{ ch.1 }}</option>
                {% endfor %}
            </select>
        </form>
        <br><br>
        Wallet Backup Mnemonic:
        <div id="mnemonic_disp">
        </div>

    </div>
</div>
{% endblock %}
