{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script src="{% static 'aes.js' %}"></script>
<script src="{% static 'bitcore-lib.min.js' %}"></script>
<script src="{% static 'underscore-min.js' %}"></script>
<script>
    var bitcore = require('bitcore-lib');
    var crypto_data = JSON.parse('{{ crypto_data_json|safe }}');
    var hd_master_seed = undefined;
</script>
<script src="{% static 'wallet.js' %}"></script>
<style>
    .center_box {
        width: 250px;
        margin: 20px auto 0 auto;
        background: #dfdfdf;
        padding: 10px;
        border: 1px solid brown;
        border-radius: 7px;
    }

    #wallets {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .deposit_address {
        font-size: x-small;
    }

    .crypto_box {
        border: 1px solid green;
        background: #efd4ef;
        padding: 10px;
        margin: 10px;
    }

    .qr {
        width: 100px;
        height: 100px;
    }
</style>
{% include "login.html" %}

{% if not user.is_authenticated %}
    {% include "register.html" %}
{% endif %}

<div id="loading_screen" style="display: none; border: 1px solid green; width: 250px; margin; 0 auto 0 auto">
    Deriving Wallet Addresses and Generating QR codes...
</div>

<div id="wallets" style="display: none">
    {% for data in crypto_data %}
    <div class="crypto_box" data-currency="{{ data.code }}">
        <h3>{{ data.name }} ({{ data.code|upper }})</h3>
        Balance: <span class="balance_crypto"></span>
        <span class="balance_fiat"></span>
        <table style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <img src="{% static data.logo %}" style="width: 100px; height: 100px">
                </td>
                <td style="width: 50%">
                    <div class="qr"></div>
                </td>
            </tr>
        </table>

        Deposit Address:<br>
        <span class="deposit_address"></span>
        <br><br>
        <button>Send</button> <button>Exchange</button> <button>History</button>
    </div>
    {% endfor %}
</div>

{% endblock %}
