{% extends "base.html" %}
{% load staticfiles %}

{% block extra_menu_items %}

<span id="wallet_settings_wrapper"><a href="#" id="wallet_settings">Wallet Settings</a> -</span>

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'spinner.css' %}">
<link rel="stylesheet" href="{% static 'wallet.css' %}">
<script src="{% static 'aes.js' %}"></script>
<script src="{% static 'bitcore-lib.min.js' %}"></script>
<script src="{% static 'bitcore-mnemonic.min.js' %}"></script>
<script src="{% static 'underscore-min.js' %}"></script>
<script>
    var bitcore = require('bitcore-lib');
    var Mnemonic = require('bitcore-mnemonic');
    var crypto_data = JSON.parse('{{ crypto_data_json|safe }}');
    var hd_master_seed = undefined;
    var raw_mnemonic = undefined;
    var optimal_fees = {};
    var used_addresses = {};
    var unused_deposit_addresses = {};
    var unused_change_addresses = {};
    var exchange_rates = {};
    var utxos = {};
    var show_wallet_list = [];
    var exchange_pairs = {};
</script>
<script src="{% static 'blockchain.js' %}"></script>
<script src="{% static 'wallet.js' %}"></script>


{% include "login.html" %}

{% if not user.is_authenticated %}
    {% include "register.html" %}
{% endif %}

<div style="width: 100%;">
    <div id="loading_screen">
        Deriving Wallet Addresses and Generating QR codes...<br><br>
        <div class="thick-spinner spinner" style="height: 60px; width: 60px;"></div>
    </div>
</div>

<div id="money_part">
    <div id="total_fiat_balance_container">
        <span class="fiat_symbol"></span><span id="total_fiat_balance"></span> <span class="fiat_unit"></span>
    </div>

    <div id="wallets">
        {% for data in crypto_data %}
        <div class="crypto_box colors-{{ data.code|lower }}" data-currency="{{ data.code }}" style="display: none">
            <h3>{{ data.name }} ({{ data.code|upper }})</h3>
            Balance: <span class="crypto_balance">0.0</span> {{ data.code|upper }}<br>
            <span class="fiat_symbol"></span><span class="fiat_balance"><div class="thin-spinner spinner" style="height: 10px; width: 10px;"></div></span> <span class="fiat_unit"></span>
            <span class="balance_fiat"></span>
            <div class="outgoing_exchange_in_progress exchange_in_progress">
                <h4>Outgoing Exchange in progress</h4>
                <span class="deposit_amount"></span> {{ data.code|upper }}<br>
                To <span class="withdraw_amount"></span> <span class="withdraw_currency"></span><br>
                <img class="exchange_logo">
            </div>

            <div class="incoming_exchange_in_progress exchange_in_progress">
                <h4>Incoming Exchange in progress</h4>
                <span class="withdraw_amount"></span> {{ data.code|upper }}<br>
                From <span class="deposit_amount"></span> <span class="deposit_currency"></span><br>
                <img class="exchange_logo">
            </div>

            <div class="unconfirmed_area">
                <h4>Unconfirmed Transaction</h4>
                <span class="amount_color">
                    <span class="amount_sign"></span><span class="amount"></span> {{ data.code|upper }}
                </span>
            </div>

            <table style="width: 100%">
                <tr>
                    <td style="width: 50%">
                        <img src="{% static data.logo %}" class="main_currency_logo">
                    </td>
                    <td style="width: 50%">
                        <div class="qr"></div>
                    </td>
                </tr>
            </table>
            <div class="receive_part">
                <div class="deposit_area">
                    <span class="deposit_address"></span>
                </div>
                <button class="deposit_shift_up arrow_button">&larr;</button>
                <button class="deposit_shift_down arrow_button">&rarr;</button>
                <br>
                <button class="switch_to_send">Send</button>
                <button class="switch_to_exchange">Exchange</button>
                <button class="switch_to_history">History</button>
                <button class="switch_to_sweep">{% if data.code == 'doge' %}Scoop{% else %}Sweep{% endif %}</button>
            </div>
            <div class="send_part subsection">
                <button class="cancel_button"> &larr; Cancel Send</button>
                <br>
                <lable>Address</label><br>
                <input type="text" class="sending_recipient_address full_width">

                <br><br>

                <label>Crypto Amount</label><br>
                <input type="number" class="sending_crypto_amount"> {{ data.code|upper }}

                <br><br>

                <label>Fiat Amount</label><br>
                <input type="number" class="sending_fiat_amount"> <span class="fiat_unit"></span>

                <br><br>

                <div class="fee_rate_area">
                    Optimal transaction fee based on current<br>
                    network conditions:
                    <span class="optimal_fee_rate_per_byte"></span> Satoshi/byte
                </div>

                {% include "fee_chooser.html" with crypto=data.code which='send' %}

                <hr>
                <div class="sending_bottom_area" style="overflow: hidden">
                    <button class="submit_send submit_button" style="float: left" disabled>Send</button>
                    <div class="send_error_area"></div>
                </div>
            </div>
            <div class="sweep_part subsection">
                <button class="cancel_button"> &larr; Cancel {% if data.code == 'doge' %}Scoop{% else %}Sweep{% endif %}</button>
                <br>
                <lable>Private Key (WIF)</label><br>
                <input type="text" class="sweeping_key full_width">
                <br>

                {% include "fee_chooser.html" with crypto=data.code which='sweep' %}

                <hr>
                <div class="sending_bottom_area" style="overflow: hidden">
                    <button class="submit_sweep submit_button" style="float: left" disabled>{% if data.code == 'doge' %}Scoop{% else %}Sweep{% endif %}</button>
                    <div class="error_area"></div>
                </div>
            </div>
            <div class="exchange_part subsection">
                <button class="cancel_button"> &larr; Cancel Exchange</button>

                <div class="exchange_options"></div>
                Max Deposit: <span class="max_exchange"></span> {{ data.code|upper }}<br>
                Min Deposit: <span class="min_exchange"></span> {{ data.code|upper }}
                <br><br>

                Exchange Rate:<br>
                1 {{ data.code|upper }} = <span class="crypto_to_crypto_rate"></span> <span class="withdraw_code"></span><br><br>

                {{ data.name }} Cost:<br>
                <input type="number" name="deposit_exchange_amount" class="exchange_amount deposit"><br>
                <small>Including optimal fee of <span class="optimal_fee"></span> {{ data.code|upper }}</small>
                <br><br>

                <span class="fiat_unit"></span> Amount:<br>
                <input type="number" name="fiat_exchange_amount" class="exchange_amount fiat"><br><br>

                <span class="withdraw_unit"></span> Amount:<br>
                <input type="number" name="withdraw_exchange_amount" class="exchange_amount withdraw"><br>
                <small>Including withdraw miner fee of <span class="withdraw_fee"></span> <span class="withdraw_code"></span></small>

                <hr>
                <div class="sending_bottom_area" style="overflow: hidden">
                    <button class="submit_exchange submit_button" style="float: left">Exchange</button>
                    <div class="error_area"></div>
                </div>
            </div>
            <div class="history_part subsection">
                <button class="cancel_button"> &larr; Go Back</button>
                <br>History...
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="settings_part" style="display: none">
    <form id="settings_form">
        Display Local Currency:<br>
        <select name="display_fiat">
            {% for fiat in supported_fiats %}
            <option value="{{ fiat }}">{{ fiat|upper }}</option>
            {% endfor %}
        </select>
        <br><br>
        Display Crypto wallets:<br>
        {% for data in crypto_data %}
            <label><input type="checkbox" value="{{ data.code }}" class="supported_crypto">
            {{ data.code|upper }} - {{ data.name }}</label><br>
        {% endfor %}
        <br>
        Automatically log out after...<br>
        <select name="auto_logout">
            {% for ch in autologout_choices %}
            <option value="{{ ch.0 }}">{{ ch.1 }}</option>
            {% endfor %}
        </select>
    </form>
    <br><br>
    Wallet Backup Mnemonic:
    <div id="mnemonic_disp">
    </div><br>
    All addresses for all currencies are derived from these seed words.<br>
    Copy+Paste these words into another wallet that supports BIP39+BIP44<br>
    to import all addresses. Backup these words in case you lose access <br>
    to your multiexplorer account.
    <br><br>
    <button id="save_settings_button">Save Settings</button>
</div>
{% endblock %}
